# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
client-server/node_modules
client-server/.pnp
client-server/.pnp.js

# testing
client-server/coverage

# production
client-server/build

# misc
client-server/.DS_Store
client-server/.env.local
client-server/.env.development.local
client-server/.env.test.local
client-server/.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
