# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules/
client-tuesday/.pnp
client-tuesday/.pnp.js

# testing
client-tuesday/coverage

# production
client-tuesday/build

# misc
client-tuesday/.DS_Store
client-tuesday/.env.local
client-tuesday/.env.development.local
client-tuesday/.env.test.local
client-tuesday/.env.production.local

client-tuesday/npm-debug.log*
client-tuesday/yarn-debug.log*
client-tuesday/yarn-error.log*

server-tuesday/tmp
server-tuesday/log
